<!DOCTYPE html>
<html>
<head>
    <title>Итоги запросов</title>
</head>
<body>
    <h1>Итоги: "{{ query }}"</h1>
    <table border="1">
        <tr>
            <th>Имя</th><th>Тип1</th><th>Тип2</th><th>HP</th><th>Атака</th>
            <th>Скорость</th><th>Балл</th><th>Совместимость, %</th>
        </tr>
        {% for p in pokemons %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.type1 }}</td>
            <td>{{ p.type2 }}</td>
            <td>{{ p.hp }}</td>
            <td>{{ p.attack }}</td>
            <td>{{ p.speed }}</td>
            <td>{{ p.score }}</td>
            <td>{{ p.compatibility }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Перейти на главную страницу</a>
</body>
</html>